footer {
    min-width: 1400px;
    height: 223px;
    background-color: #ffffff;
    color: #000000;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}

.footer__link {
    margin-top: 76px;
    display: inline-block;
    font-family: 'Manrope';
    font-size: 22px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.66px;
    text-decoration: none;
    color: #000;
}

.footer__link:hover {
    opacity: 0.5;
}

.footer__text {
    margin-top: 66px;
    font-family: 'Manrope';
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: -0.6px;
    opacity: 0.5;
    color: #000;
}