.nav {
    position: relative;
    margin-bottom: 150px;
    padding-top: 33px;
    height: 765px;
    background-image: url(../resources/background-header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}

.nav__logo {
    display: block;
    position: absolute;
    width: 130px;
    height: 39px;
    background-color: black;
    border-radius: 100px;
    text-decoration: none;
}

.nav__logo-title {
    position: relative;
    left: 9px;
    right: 12px;
    bottom: 9px;
    width: 109px;
    line-height: 55px;
    font-size: 42.414px;
    font-weight: 700;
    color: #1bff07;
    letter-spacing: -4.666px;
    text-transform: uppercase;
}

.nav-menu {
    float: right;
}

.nav-menu__link {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: #ffffff;
    letter-spacing: -0.54px;
}

.nav-menu__link:nth-last-child(1) {
    margin-right: 0px;
}

.nav-menu__link:hover {
    color: #1bff07;
}

.nav__text {
    position: absolute;
    bottom: 328px;
    width: 430px;
    font-size: 20px;
    line-height: normal;
    letter-spacing: -0.6px;
    color: #fff;
}

.nav__title {
    position: absolute;
    bottom: 94px;
    width: 919px;
    height: 205px;
    color: #1bff07;
    font-size: 80px;
    font-weight: 400;
    line-height: 70px;
    letter-spacing: -2.4px;
}
