.header {
    position: relative;
    margin-bottom: 150px;
    padding-top: 33px;
    min-width: 1400px;
    height: 765px;
    background-image: url(../resources/background-header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}

.header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    width: 146px;
    height: 39px;
    border-radius: 100px;
    background-color: black;
    text-decoration: none;
}

.header__logo-title {
    left: 9px;
    bottom: 9px;
    position: relative;
    width: 132px;
    font-size: 42.414px;
    font-weight: 700;
    line-height: 55px;
    letter-spacing: -4.666px;
    text-transform: uppercase;
    color: #1bff07;
}

.nav__links {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 50px;
}

.nav__link {
    font-size: 18px;
    letter-spacing: -0.54px;
    text-decoration: none;
    color: #ffffff;
    transition: 0.3s;
}

.nav__link:hover {
    color: #1bff07;
}

.header__text {
    position: absolute;
    bottom: 328px;
    width: 430px;
    font-size: 20px;
    line-height: normal;
    letter-spacing: -0.6px;
    color: #fff;
}

.header__title {
    position: absolute;
    bottom: 94px;
    width: 919px;
    height: 205px;
    font-size: 80px;
    line-height: 70px;
    letter-spacing: -2.4px;
    color: #1bff07;
}